/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  /* Header Styles */
  header {
    background-color: #2e2e2e;
    color: #fff;
    padding: 10px;
  }
  
  header h1 {
    margin: 0;
  }
  
  /* Main Content Styles */
  .main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 0;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }

  button {
    margin-bottom: 20px;
  }
  
  
  button {
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;

      
  }
  
  button:hover {
    background-color: #555;
  }
  
  .note {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .note h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .note p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Form Styles */
  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  form input[type="text"],
  form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  form button[type="submit"] {
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #555;
  }