/* Body Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  text-align: center;
}

/* Header Styles */
header {
  background-color: #2e2e2e;
  color: #fff;
  padding: 10px;
}

header h1 {
  margin: 0;
}

/* Main Content Styles */
.main-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-top: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

button {
  margin-bottom: 20px;
}

button {
  background-color: #2e2e2e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

.delete-button {
  background-color: #2e2e2e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

a {
  /* background-color: #2e2e2e; */
  color: #2e2e2e;
  border: none;
  padding-left: 1px;
  padding-right: 15px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  transition: 0.3s all;
}

button:hover {
  background-color: #555;
}

/* note styling */

.note {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin: 20px;
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.note h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.note p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
}

.icon-div {
  margin: 10px;
}

/* Select and label styling */

select {
  padding: 10px;
  font-size: 16px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  font-weight: bold;
  font-size: 16px;
}

/* Date styling */
.date {
  color: rgba(0, 0, 0, 0.5);
}

/* Form Styles */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

/* Search bar style */
.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 30%;
  display: flex;
  align-items: baseline;
}

.search-bar button {
  height: 55px;
  border: 1px solid #ccc;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-bar input[type="text"] {
  width: 100%;
  height: 25px;
  padding: 14px; /* Increase the padding for text inputs */
  font-size: 18px; /* Increase the font size for text inputs */
  border: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  resize: vertical;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 10px;
  font-size: 25px; /* Adjust the font size to your desired value */
  border: 1px solid #ac5858;
  margin-bottom: 20px;
}

form textarea {
  height: 150px; /* Adjust the height to your desired value */
}

form button[type="submit"] {
  background-color: #2e2e2e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #555;
}

/* Regular star */

.fa-solid {
  color: rgb(252, 186, 63);
  transition: color 0.2s;
}

.fa-trash-can:hover {
  color: red;
}

.star-icon:hover {
  color: rgb(252, 186, 63);
}

select {
  margin-bottom: 5px;
}

.rounded-button {
  border-radius: 5px; /* Justera värdet för att ändra rundningen */
}

.digitalPostitNotes {
  font-size: 23px;
  font-weight: 400;
  font-style: italic;
  opacity: 0.7;
}

#note-div {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33.333333%;
  justify-content: center;
}

/* Media queries for mobile devices */
@media only screen and (max-width: 600px) {
  /* Body Styles */
  body {
    font-size: 16px;
  }

  /* Main Content Styles */
  .main-content {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  .digitalPostitNotes {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    opacity: 0.7;
  }

  p {
    font-size: 14px;
  }

  /* Form Styles */
  form {
    padding: 10px;
  }

  form label {
    font-size: 16px;
  }

  form input[type="text"],
  form textarea {
    font-size: 14px;
  }

  form button[type="submit"] {
    font-size: 16px;
  }

  #note-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Search bar styling */

  .search-bar {
    width: 90%;
  }
}
