/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
}

/* Apply mobile-friendly styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 30px; /* Increase the font size for headers */
  margin-top: 0;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 14px; /* Increase the padding for text inputs */
  font-size: 18px; /* Increase the font size for text inputs */
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button {
  background-color: #000000;
  color: white;
  padding: 14px 24px; /* Increase the padding for buttons */
  font-size: 18px; /* Increase the font size for buttons */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #666a66;
}

/* Increase the font size for font chooser */
#font-select {
  font-size: 18px;
}

/* Increase the font size for div */
div {
  font-size: 20px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 26px;
  }

  input[type="text"],
  textarea {
    padding: 12px;
    font-size: 16px;
  }

  button {
    padding: 12px 20px;
    font-size: 16px;
  }

  #font-select {
    font-size: 16px;
  }

  div {
    font-size: 18px;
  }
}

/* Styles for phone screens */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 22px;
  }

  input[type="text"],
  textarea {
    padding: 10px;
    font-size: 14px;
  }

  button {
    padding: 10px 18px;
    font-size: 14px;
  }

  #font-select {
    font-size: 14px;
  }

  div {
    font-size: 16px;
  }
}
